<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <%= link_to "Home", root_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "About", about_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Articles", articles_path, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to "Create Article", new_article_path, class: "nav-link active" %>
    </li>
  </ul>
</nav>